.LandingPageLogin {
width: 1280px; 
height: 2329px; 
position: relative
}

.Rectangle1 {
    width: 1280px; 
    height: 2329px; 
    left: 1px; 
    top: 0px; 
    position: absolute; 
    background: #E9E9E9
}

.Footer {
    width: 1216px; 
    height: 300px; 
    left: 64px; 
    top: 2029px; 
    position: absolute; 
    background: #EC8F5E
}

.Frame13 {
    left: 49px; 
    top: 30px; 
    position: absolute; 
    justify-content: center; 
    align-items: center; 
    gap: 440px; 
    display: inline-flex

}

.Frame9 {
    width: 394px; 
    height: 191px; 
    position: relative
}

.TentangKami {
    left: 0px; 
    top: 0px; 
    position: absolute; 
    color: #F2F2F2; 
    font-size: 24px; 
    font-family: Jost; 
    font-weight: 500; 
    word-wrap: break-word
}

.DiLenteraSastraKamiLebihDariSekedarPerpustakaanKamiMerupakanPintuGerbangMenujuImajinasiDanPengetahuanBergabunglahDenganKamiDalamPerjalananMelaluiKataKataYangTertulisDalamSastraKontakKami {

    
}

.Frame12 {
    width: 106px; 
    height: 24px; 
    left: 0px; 
    top: 167px;
     position: absolute; 
     justify-content: center; 
     align-items: flex-start; 
     gap: 17px; 
     display: inline-flex
}

.TwitterLogo1StreamlineLogosSvg{
    width: 24px; 
    height: 24px; 
    position: relative; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: flex

}

.Vector {
    width: 21px; 
    height: 16.55px; 
    border: 1.50px #F2F2F2 solid
}

.InstagramLogo2StreamlineLogosSvg{
    width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex
}

.Vector {
    width: 21px; height: 21px; border: 1.50px #F2F2F2 solid
}

.Vector {
    width: 0.50px; height: 1px; border: 1.50px #F2F2F2 solid
}

.Vector {
    width: 0.50px; height: 1px; border: 1.50px #F2F2F2 solid
}

.Vector {
    width: 10px; height: 10px; border: 1.50px #F2F2F2 solid
}

.LenteraSastra {
    color: #F2F2F2; font-size: 40px; font-family: Pecita; font-weight: 400; word-wrap: break-word
}
.Rectangle11 {
    width: 1216px; height: 52px; left: 0px; top: 248px; position: absolute; background: #F3B664

}

.CopyrightCreatedBySleepDeprivedSquad {
    left: 467px; top: 265px; position: absolute; color: #F2F2F2; font-size: 12px; font-family: Jost; font-weight: 400; word-wrap: break-word
}

.Frame15 {
    width: 1216px; padding-left: 100px; padding-right: 100px; padding-top: 60px; padding-bottom: 60px; left: 64px; top: 49px; position: absolute; background: linear-gradient(0deg, #E9E9E9 0%, white 100%); justify-content: space-between; align-items: center; display: inline-flex 
}

.Frame14 {
    padding-right: 66px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 10.51px; display: inline-flex
}

.SelamatMenjelajahAnonim {
    color: black; font-size: 48px; font-family: Jost; font-weight: 700; word-wrap: break-word
}

.JelajahiBerbagaiMacamSastraDariSeluruhDuniaMulaiPerjalananmuMelihatDuniaBersamaLenteraSastra {
    width: 516px; color: black; font-size: 16px; font-family: Jost; font-weight: 400; word-wrap: break-word
}

























